/* 
    font-family: Helvetica, Arial, sans-serif; 
color: #e4a4ee;*/

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #00ffcc;
    padding: 20px 0;
    text-align: center;
}

.login {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h3 {
    color: #e4a4ee;
    margin-bottom: 20px;
    text-align: center;
}

.login p {
    margin: 10px 0;
}

input.username,
input.password {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.button {
    margin-top: 20px;
    text-align: center;

}

button {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.message {
    margin-top: 20px;
    text-align: center;
    color: #0080ff;
}